<!doctype html>
<html lang="en" xmlns:th="//www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
  <h1>Bienvenido a la sesión</h1>

    <form th:action="@{/logout}" method="POST">
        <button type="submit">Cerrar sesión</button>

    </form>

    <a href="/addUser">Añadir usuario</a>

  <table class="table">
      <thead>
      <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Nombre Usuario</th>
          <th scope="col">Password</th>
          <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="usuario : ${usuarios}">
          <th scope="row">1</th>
          <td th:text="${usuario.nombre}"></td>
          <td th:text="${usuario.nombreUsuario}"></td>
          <td th:text="${usuario.password}"></td>
          <td>
              <form th:action="@{/usuario/front/{id}(id=${usuario.nombreUsuario})}" th:method="delete">
                  <button type="submit">Delete</button>
              </form>
              <form th:action="@{/usuario_parametro/front/{id}(id=${usuario.nombreUsuario})}" method="get">
                  <button type="submit">Edit</button>
              </form>
          </td>
      </tr>
      </tbody>
  </table>
</div>

<div sec:authorize="!isAuthenticated()">
    <a href="/login">Iniciar sesión</a>
</div>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>
</html>